

@{
    var options = new AjaxOptions()
    {
        HttpMethod = "POST",
    };
}
<div id="FullChat">
    <div id="ChatArea">

    </div>
    @using (Ajax.BeginForm("Create", "Chat", options))
    {
        @*@Html.EditorFor(model => model.Text, new { id = "txtBox" })*@
        <input type="text" name="txt"/>   
        <input type="submit" value="Send" id="chatSubmit" />
    }
</div>
<style>
    #FullChat{
        position:absolute;
        right:0;
        top:10%;
        z-index:100;

    }
    #ChatArea {
        font-family:Consolas;
        font-size:small;
        margin-top:5%;
        border: solid red 2px;
        height: 10%;
        width: 80%;
        background-color:#220c0c;
    }
</style>


<script src="~/JavaScripts/Chat.js"></script>