@using System.Security.Claims
@{
    ViewBag.Title = "Claims";
}

<h2>Claims</h2>

@{ 
    var identity = User.Identity as ClaimsIdentity;
}
@foreach (var item in identity.Claims)
{
    <hr />
    <p>@item.Type</p>
    <p>@item.Value</p>
}

