@model MVC_PictureGallery_Lab.Models.PictureViewModel



@using (Html.BeginForm("Create", "Picture", FormMethod.Post, new { id = "PictureForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PictureViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        @*<div class="col-md-10">
            <input type="file" name="file" id="file" onchange="validatePhoto()" />
            @Html.ValidationMessage("error")
            <div id="errorDiv"></div>
        </div>*@

        <div class="preview img-wrapper"></div>
        <div class="file-upload-wrapper">
            <input type="file" name="file" class="file-upload-native" multiple="multiple" accept="image/*" />
            <input type="text" disabled placeholder="upload image" class="file-upload-text" />
            @Html.ValidationMessage("error")
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script src="~/JavaScripts/CreatePicture.js"></script>
