
@if (Model != null)
{
    foreach (var item in Model.Comments)
    {
        var option = new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = item.Id.ToString()
        };
        <div id="@item.Id">
            <ul>
                <li>
                    <p>
                        <span>@item.Text </span><span><small> -(@item.Account.UserName)</small></span>
                        @{
                            if (item.Account.UserName == User.Identity.Name || User.Identity.Name == ViewBag.Name)
                            {

                                <span>
                                    @Ajax.ActionLink("Delete", "Delete", "Comment", new { id = item.Id }, option)
                                </span>
                            }
                        }
                    </p>
                </li>
            </ul>
        </div>
                                }
                     