<link href="~/Style/FlexPictures.css" rel="stylesheet" />
<h2>Open-Gallery</h2>



<div class="gallery_container">
    @for (var x = 0; x < Model.Count; x++)
    {
        if (Model[x].Public == true)
        {
            @*<span class="gallery_item">
                    <a href="@Url.Action("Details","Picture",new { Id = Model[x].Id }, null)">
                        <img src="@Url.Content($"{Model[x].Url}")" alt=". . .ALT. . .">
                    </a>
                </span>*@
            <a href="@Url.Action("Details","Picture",new { Id = Model[x].Id }, null)">
                <div class="img--back">
                    <img src="@Url.Content($"{Model[x].Url}")" />
                </div>           
            </a>
        }

    }
</div>